.first-element {
  align-items: flex-start;
}

@media (min-width: 768px) {
  #footer-right {
    text-align: right;
  }
  #footer-center {
    text-align: center;
  }
  #footer-left {
    text-align: left;
  }
  .coming_soon {
    font-size: 20px;
    margin-bottom: -15px;
  }
  .email {
    font-size: 19px;
    padding-top: 8px;
  }
  .main_container {
    height: 400px;
    margin-top: 200px;
  }
}

@media (min-width: 992px) {
  #footer-center {
    border-right: 1px solid black;
  }
  #footer-left {
    border-right: 1px solid black;
  }
}

@media (max-width: 765px) {
  #footer-right {
    text-align: left;
  }
  #footer-center {
    text-align: left;
    border-bottom: 1px solid black;
  }
  #footer-left {
    text-align: left;
    border-bottom: 1px solid black;
  }
  .coming_soon {
    font-size: 12px;
    margin-bottom: -15px;
  }
  .email {
    font-size: 11px;
    padding-top: 8px;
  }
  .insta {
    height: 20px;
    width: 20px;
  }
  .logo {
    size: 20%;
  }
  .main_container {
    height: 300px;
    margin-top: 150px;
  }
}
